.color {
  &__primary {
    background-color: $color__primary;

    &--light {
      background-color: $color__primary--light;
    }

    &--dark {
      background-color: $color__primary--dark;
    }
  }

  &__secondary {
    background-color: $color__secondary;

    &--light {
      background-color: $color__secondary--light;
    }

    &--dark {
      background-color: $color__secondary--dark;
    }
  }

  &__accent {
    background-color: $color__accent;

    &--light {
      background-color: $color__accent--light;
    }

    &--dark {
      background-color: $color__accent--dark;
    }
  }
}
