html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.color__primary {
  background-color: #757575;
  color: #FFFFFF; }
  .color__primary--light {
    background-color: #a8a8a8;
    color: #000000; }
  .color__primary--dark {
    background-color: #424242;
    color: #FFFFFF; }
.color__secondary {
  background-color: #B5B5B5;
  color: #000000; }
  .color__secondary--light {
    background-color: #e8e8e8;
    color: #000000; }
  .color__secondary--dark {
    background-color: #828282;
    color: #000000; }
.color__accent {
  background-color: #363636;
  color: #FFFFFF; }
  .color__accent--light {
    background-color: dimgray;
    color: #FFFFFF; }
  .color__accent--dark {
    background-color: #030303;
    color: #FFFFFF; }

html, body {
  font: 100%/1.4 'Open Sans', Helvetica, Arial, sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.list--bullets {
    list-style-type: default; }

input {
  padding-right: 5px;
  padding-left: 5px; }

.input--custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

button, .button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: baseline;
  min-width: auto;
  display: inline-block;
  box-sizing: content-box;
  color: #FFFFFF;
  background-color: #757575;
  margin: 15px 10px 15px 0;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  button::last-child, .button::last-child, input[type="button"]::last-child, input[type="submit"]::last-child {
    margin-right: 0; }
  button:hover, button:focus, .button:hover, .button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    color: #FFFFFF;
    background-color: #424242; }
  button[disabled], .button[disabled], input[type="button"][disabled], input[type="submit"][disabled] {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(117, 117, 117, 0.2);
    cursor: default; }

fieldset input {
  margin-bottom: 15px; }

#styleguide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #styleguide::after {
    clear: both;
    content: "";
    display: table; }
  #styleguide .mobile__hamburger {
    opacity: 0;
    pointer-events: none; }
    @media (max-width: 767px) {
      #styleguide .mobile__hamburger {
        opacity: 1;
        pointer-events: default; } }
  #styleguide nav {
    width: 100%;
    background: #B5B5B5;
    padding: 1em; }
    @media (max-width: 767px) {
      #styleguide nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        opacity: 0;
        pointer-events: none; } }
    @media (min-width: 768px) {
      #styleguide nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        #styleguide nav:last-child {
          margin-right: 0; } }
  @media (min-width: 768px) {
    #styleguide main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-right: 0; }
      #styleguide main:last-child {
        margin-right: 0; } }
  #styleguide .code {
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    background-color: #EFEFEF; }
    #styleguide .code code {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.2); }
      #styleguide .code code span {
        color: #7E597E; }
        #styleguide .code code span.attr {
          color: #6BA318; }
        #styleguide .code code span.value {
          color: #5A82BB; }
        #styleguide .code code span.html {
          color: #000000; }
  #styleguide .accordion__summary::after {
    width: 0;
    height: 0;
    position: absolute;
    top: 48%;
    margin-left: 10.5px; }
  #styleguide .accordion {
    width: 100%; }
    #styleguide .accordion__summary {
      margin: 0;
      font-size: 42px;
      position: relative;
      cursor: pointer;
      border-top: 1px solid #CCCCCC; }
    #styleguide .accordion__summary::after {
      content: '';
      border-left: 10.5px solid transparent;
      border-right: 10.5px solid transparent;
      border-top: 10.5px solid black; }
    #styleguide .accordion__content {
      overflow: hidden;
      border-top: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      transition: max-height 0.12s ease-in; }
    #styleguide .accordion:first-child .accordion__summary {
      border-top: 0; }
  #styleguide .accordion.close .accordion__summary::after {
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
    border-top: 0;
    border-bottom: 10.5px solid black; }
  #styleguide .accordion.close .accordion__summary + .accordion__content {
    max-height: 0;
    border-bottom: 0;
    transition: max-height 0.12s ease-out; }
  #styleguide .accordion__content--container {
    padding: 1em; }
    #styleguide .accordion__content--container .color {
      width: 100%;
      height: 125px;
      padding: 5px 10px;
      margin-bottom: 1em;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -moz-box-align: end;
      box-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end;
      -webkit-box-pack: end;
      -moz-box-pack: end;
      box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: end; }
    @media (min-width: 768px) {
      #styleguide .accordion__content--container li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #styleguide .accordion__content--container li:last-child {
          margin-right: 0; }
      #styleguide .accordion__content--container li:last-child {
        margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
