// 0 - TOOLS
@import 'bourbon'; // Sass Mixin Library
@import '0-tools/_styleguide-settings.scss'; // show neat grid (remove for prodution)
@import 'neat';
@import '0-tools/normalize.scss';
@import '0-tools/reset.scss';

// 1 - ELEMENTS: UI foundation
@import '1-elements/variables.scss';
@import '1-elements/mixins.scss';
@import '1-elements/functions.scss';
@import '1-elements/typography.scss';
@import '1-elements/color.scss';
@import '1-elements/global.scss';
@import '1-elements/list.scss';
@import '1-elements/input.scss';
@import '1-elements/button.scss';

// 2 - MODULES: Elements within Presentational Sass - Reusable Patterns
@import '2-modules/form.scss';

// 3 - LAYOUTS: Applying specific classes to <body> to render different layouts


// STYLEGUIDE
@import '0-tools/styleguide.scss';
